#images-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
    text-align: center;
}
#images-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

#images-view .thumb img{
    height: 160px;
    width: 210px;
}
#images-view .thumb-wrap{
    float: left;
    margin: 50px;
    margin-right: 0;
    padding: 5px;
}
#images-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: left;
    width: 140px; /* for ie to ensure that the text is centered */
}

#images-view .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(over.gif) repeat-x left top;
    padding: 4px;
}

#images-view .x-item-selected{
    background: #efefef url(selected.gif) no-repeat right bottom;
    border:1px solid #404040;
    padding: 4px;
}
#images-view .x-item-selected .thumb{
    background:transparent;
}

#images-view .loading-indicator {
    font-size:11px;
    background-image:url('../../resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}
.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.x-editable {
    color: #000;
}

.x-panel-body {
    overflow: auto;
    position: relative;
}

/* /Users/Jenna/Work/slo/slofc/frontend/ext/classic/theme-neutral/sass/src/button/Button.scss:823 */
.x-btn-focus.x-btn-over.x-btn-default-toolbar-small {
    -webkit-box-shadow: #5fa2dd 0 1px 0px 0 inset, #5fa2dd 0 -1px 0px 0 inset, #5fa2dd -1px 0 0px 0 inset, #5fa2dd 1px 0 0px 0 inset;
    -moz-box-shadow: #5fa2dd 0 1px 0px 0 inset, #5fa2dd 0 -1px 0px 0 inset, #5fa2dd -1px 0 0px 0 inset, #5fa2dd 1px 0 0px 0 inset;
    box-shadow: #006633 0 1px 0px 0 inset, #006633 0 -1px 0px 0 inset, #006633 -1px 0 0px 0 inset, #006633 1px 0 0px 0 inset;
}

/* /Users/Jenna/Work/slo/slofc/frontend/ext/classic/theme-neutral/sass/src/button/Button.scss:738 */
.x-btn-focus.x-btn-default-toolbar-small {
    background-image: none;
    background-color: #f6f6f6;
    -webkit-box-shadow: #5fa2dd 0 1px 0px 0 inset, #5fa2dd 0 -1px 0px 0 inset, #5fa2dd -1px 0 0px 0 inset, #5fa2dd 1px 0 0px 0 inset;
    -moz-box-shadow: #5fa2dd 0 1px 0px 0 inset, #5fa2dd 0 -1px 0px 0 inset, #5fa2dd -1px 0 0px 0 inset, #5fa2dd 1px 0 0px 0 inset;
    box-shadow: #006633 0 1px 0px 0 inset, #006633 0 -1px 0px 0 inset, #006633 -1px 0 0px 0 inset, #006633 1px 0 0px 0 inset;
}


/* Search box rectangular box */
/* /Users/Jenna/Work/slo/slofc/frontend/ext/classic/theme-neutral/sass/src/form/field/Text.scss:229 */
.x-form-trigger-wrap-default.x-form-trigger-wrap-focus {
    border-color: #d0d0d0;
}

/* Boxes for items */
/* /Users/Jenna/Work/slo/slofc/frontend/ext/classic/theme-base/sass/src/view/View.scss:1 */
.x-view-item-focused {
    outline: 1px #006633!important;
    outline-offset: -1px;
}
